@import "_colors";
.left {
  background-color: $white-color;
  max-height: 100%;
  max-width: 844px;
  width: 1110px;
}

.right img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 100px;
}
