@import "_colors";

.social-icons {
  margin-top: 50px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    max-width: 250px;
    margin: 0 auto;
    li {
      border: 2px solid $border-color;
      border-radius: 50%;
      width: 46px;
      height: 46px;
      text-align: center;
      padding-top: 12px;
      a i {
        line-height: 100px;
      }
    }
  }
  &::before {
    margin-bottom: 50px;
    content: "";
    display: flex;
    border: 1px solid $border-color;
    width: 100%;
    justify-content: center;
    max-width: 90%;
  }
  .facebook-icon {
    &:hover {
      background-color: #4267b2;
      border: 2px solid #4267b2;
      transition: 0.2s;
      box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
      path {
        fill: #ffffff;
        opacity: 1;
      }
    }
    &:active {
      background-color: #2f4a80;
      border: 2px solid #2f4a80;
    }
  }

  .instagram-icon {
    &:hover {
      background-color: #c13584;
      border: 2px solid #c13584;
      transition: 0.2s;
      box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
      path {
        fill: #ffffff;
        opacity: 1;
      }
    }
    &:active {
      background-color: #8f2762;
      border: 2px solid #8f2762;
    }
  }

  .twitter-icon {
    &:hover {
      background-color: #1da1f2;
      border: 2px solid #1da1f2;
      transition: 0.2s;
      box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
      path {
        fill: #ffffff;
        opacity: 1;
      }
    }
    &:active {
      background-color: #177fbf;
      border: 2px solid #177fbf;
    }
  }

  .youtube-icon {
    &:hover {
      background-color: #ff0000;
      border: 2px solid #ff0000;
      transition: 0.2s;
      box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
      path {
        fill: #ffffff;
        opacity: 1;
      }
    }
    &:active {
      background-color: #cc0000;
      border: 2px solid #cc0000;
    }
  }
}
