@import "_colors";
.subscription-form {
  margin-top: 226px;
}

.sub-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.subscription {
  &__title {
    font-family: Georgia, sans-serif;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    // bottom: 15px;
    color: $black-color;
  }
  &__subtitle {
    padding-top: 16px;
    line-height: 28px;
    color: $grey-color;
  }

  &__input {
    padding-top: 50px;
    padding-left: 100px;
    button {
      width: 83px;
      height: 68px;
      position: absolute;
      border-style: none;
      background-color: white;
      text-align: center;
      padding-top: 4px;
      padding-right: 20px;

      &:hover {
        background-color: $border-color;
        cursor: pointer;
      }
      &:disabled {
        background-color: white;
        cursor: auto;
      }
      .icon-arrow-right2 {
        font-size: 24px;
        color: $grey-color;
      }
    }
  }

  &__input input {
    height: 68px;
    width: 100%;
    border-style: none;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    font-size: 16px;
    padding: 10px;
    padding-left: 40px;
    outline: none;
  }

  &__input input:hover {
    box-shadow: $box-shadow;
  }

  &__input input:focus {
    box-shadow: $box-shadow;
  }

  &__input input::placeholder {
    font-size: 16px;
  }

  &__input input:focus::placeholder {
    color: transparent;
    transition: 0.2s;
  }

  &__checkbox {
    .checkbox {
      opacity: 0;
      position: relative;
      height: 26px;
      width: 24px;
      // left: 30px;
      bottom: 2px;
      z-index: 1;
    }
  }

  &__checkbox-fake {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid $border-color;
    position: relative;
    border-radius: 3px;
    right: 29px;
  }

  &__checkbox-fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 26px;
    width: 26px;
    background: url(/img/ic_checkmark.svg) no-repeat center center;
    background-color: $blue-color;
    border-radius: 3px;
    opacity: 0;
    transition: 0.2s;
  }
  .checkbox:checked + &__checkbox-fake::before {
    opacity: 1;
  }
  &__terms {
    margin-top: 54px;
    display: flex;
    align-items: center;
    color: $grey-color;
    a {
      color: $black-color;
    }
  }
  &__service {
    position: relative;
    right: 14px;
  }
}

.valid {
  border-left: 4px solid $blue-color;
}

.invalid {
  border-left: 4px solid $error-color;
}

#error {
  color: $error-color;
  position: absolute;
}

.succes-image img {
  display: none;
  margin-bottom: 31px;
}

.upper {
  position: relative;
  bottom: 100px;
}
